body {
    background-color: black;
    position        : relative;
}
.outstanding_image {
    height: 150px;
}
.height_contact {
    height: 500px;
}
.displayspecial {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}
.hovereffect:hover {
	text-shadow:
		0 0 5px rgba(255,255,255,255),
		0 0 10px rgba(255,255,255,255),
		0 0 20px rgba(255,255,255,255),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
}
.positionspecial {
    bottom: -5em;
}
footer {
    width: 100%;
}

@media (max-width: 990px) {
    .outstanding_image {
        height: 250px;
    }   
  }

@media (max-width: 768px) {
    .outstanding_card {
        padding-left: 2em;
        padding-right: 2em;
    }
  }